<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Java Full Stack Developer</h1>
        <h2 class="home-author">Rupam Thakre, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a Java fullstack developer with over 4 years of experience in designing and developing enterprise applications and microservices. 
            I specialize in backend technologies including Java, Spring Boot, Spring Data JPA, REST APIs, Hibernate, Apache Camel, Kafka, and MQ, and 
            have strong front-end development skills using Angular v12/19. 
            I am experienced in event-driven architecture and end-to-end application development, with strong proficiency in debugging, deployment, Agile methodologies, Git, and CI/CD pipelines.
          </blockquote>
            <button>
            <a routerLink="/contact"  class="a-green">
                > Check Contact
            </a>
        </button>
      </div>
    </div>
  </div>
  